[submodule "BIGTREETECH-OCTOPUS-V1.0"]
	path = BIGTREETECH-OCTOPUS-V1.0
	url = git@github.com:bigtreetech/BIGTREETECH-OCTOPUS-V1.0.git
[submodule "Marlin"]
	path = Marlin
	url = git@github.com:ea1giy/Marlin.git
[submodule "MKS-TFT-Hardware"]
	path = MKS-TFT-Hardware
	url = git@github.com:makerbase-mks/MKS-TFT-Hardware.git
[submodule "MKS-Power-Control"]
	path = MKS-Power-Control
	url = git@github.com:makerbase-mks/MKS-Power-Control.git
